<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Sign Up on Rental Hub</h1>
            <form action="/signup" method="post" novalidate class="needs-validation">
                <!-- username -->
                <div class="md-3">
                    <label for="username" class="form-label">Enter Username</label>
                    <input
                        type="text"
                        name="username"
                        placeholder="Username"
                        class="form-control"
                        required
                    />
                </div>
                <br />
                <!-- email -->
                <div class="md-3">
                    <label for="email" class="form-label">Enter Email</label>
                    <input
                        type="text"
                        name="email"
                        placeholder="Email"
                        class="form-control"
                        required
                    />
                </div>
                <br />
                <!-- password -->
                <div class="md-3">
                    <label for="password" class="form-label">Enter Password</label>
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        class="form-control"
                        required
                    /> <br><br>
                    <button class="btn btn-success">SignUp</button>
                </div>
                <br />
                <hr>